/* http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/ */

/* this ends up controlling the jQuery UI font sizes */
body {
    font-size: 10px;
}

.node {
    stroke: #FFF;
    stroke-width: 0.25pt;
}

.node.active {
    stroke: #444;
    stroke-width: 1.0pt;
}

.node.hovered {
    stroke: #000;
    stroke-width: 1.0pt;
}

.dimmed {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.link {
    stroke: #999;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

#search_widget {
    margin: 5px;
}

#network_vis {
    margin: 5px;
}

/* https://github.com/Caged/d3-tip/blob/master/examples/example-styles.css */

.d3-tip {
  line-height: 1.3;
  font-weight: regular;
  font-family: Sans-Serif;
  font-size: 9pt;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}