/* http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/ */

/* this ends up controlling the jQuery UI font sizes */
body {
    font-size: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* override jQuery-ui */
.ui-widget button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-widget input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-widget li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node {
    stroke: #FFF;
    stroke-width: 0.25pt;
}

.node.active {
    stroke: #444;
    stroke-width: 1.0pt;
}

.node.hovered {
    stroke: #000;
    stroke-width: 1.0pt;
}

.dimmed {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.link {
    stroke: #999;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

#search_widget {
    margin: 5px;
}

#search {
    width: 150px;
}

#network_vis {
    margin: 5px;
    display: block;
}

#info_panel {
    width: 250px;
    max-height: 600px;
    overflow-y: scroll;
    padding: 6px;
    display: block;
    float: right;
    vertical-align: top;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    font-weight: regular;
    line-height: 1.3;
}

.info_container {
    vertical-align: top;
    text-overflow: ellipsis;
}

.info_header {
    color: #222;
    font-size: 14pt;
}

.info_title {
    color: #444;
    font-size: 10pt;
    font-weight: bold;
    margin-top: 6px;
}

.info_data_element {
    cursor: pointer;
}

.info_data_element_contents {
    position: relative;
    padding-left: 18px;
}

.info_data_element_circle {
    border-style: solid; 
    border-width: 0.25px; 
    border-color: #FFF;
    display: inline-block; 
    height: 12px; 
    left: 0px; 
    position: absolute; 
    width: 12px; 
    top: 0px; 
    -webkit-border-radius: 12px;
}

.info_data_element_circle.hovered {
    border-width: 1pt; 
    border-color: #000;
}

/* https://github.com/Caged/d3-tip/blob/master/examples/example-styles.css */

.d3-tip {
  line-height: 1.3;
  font-weight: regular;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}