/* http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/ */

.node {
    stroke: #FFF;
    stroke-width: 0.25pt;
}

.link {
    stroke: #999;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}
