/* conainers: http://www.vanseodesign.com/css/2-column-layout-code/ */

#container {
	width:950px;
	margin:0 auto;
	background:#fff;
	/* border: 1px solid #333; */
}

#left_panel {
	float: left;
	width: 600px;
	margin: 10px;
}

#right_panel {
	float: left;
	width: 320px;
	margin: 20px;
}

#footer {
	clear: both;
}

ellipse {
	/* fill: gray; */
	fill-opacity: 0.15;
}

ellipse:hover {
	fill-opacity: 0.25;
	/* fill: gold; */
}

p {
	font: 11px sans-serif;
}

#time_center_slider {
	width: 600px;
}
#time_width_slider {
	width: 600px;
}
#transit_time_color_scale_slider {
	width: 300px;
}

#district_center_image {
	margin: 20px;
}
#district_center_func {
	margin: 20px;
}
#district_center_func .axis path,
#district_center_func .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

#district_center_func .plotline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#district_center_func text {
	font: 10px sans-serif;
}

label {
	font: 11px sans-serif;
}

#parameters label {
	display: inline-block;
	float: left;
	clear: left;
	width: 70px;
	text-align: right;
	margin-right: 7px;
	padding-top: 0.5em;
}

#parameters select {
	display: inline-block;
	float: left;
}

#parameters button {
	display: inline-block;
	float: left;
	margin-top: 10px;
	margin-left: 80px;
	margin-bottom: 40px;
}

#svgcanvas2_g rect {
	fill: none;
	stroke: none;
}

.pathtime {
	margin-top: 10px;
}

.pathtime rect {
	stroke: none;
	fill: saddlebrown;
}

.node {
  stroke-width: 2px;
  fill-opacity: 0.75;
}

.nd_selected {
	stroke: gold;
}

path.link {
  fill: #C29E84;
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 0.25pt;
  stroke-opacity: 0.5;
}

path.linkto {
  fill: saddlebrown;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 0.25pt;
  stroke-opacity: 0.5;
}

path.linkfrom {
  fill: saddlebrown;
  fill-opacity: 0.25;
  stroke: black;
  stroke-width: 0.25pt;
  stroke-opacity: 0.5;
}

/* 
path.linkto {
  fill: #40a38a;
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 0.25pt;
  stroke-opacity: 0.5;
}

path.linkfrom {
  fill: #e27a3f;
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 0.25pt;
  stroke-opacity: 0.5;
}
 */

.overlay {
	fill: none;
	pointer-events: all;
}
